body {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}
input{
  max-width: 500px;
}

/* navbar  */
.header-section{

  height:50px;
  font-size: large;
  font-weight: 900;
  color: rgb(117, 101, 101);
  
  background-color:rgba(33, 73, 184, 0.192)  
}
.header-section h3{
  margin: 0;
  padding-top: 10px;
  text-align: center;
}


/* add  contact button */
.add-contact-btn{
  border: 1px solid grey;
  background-color: transparent;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.add-contact-btn:hover{
  background-color: grey;
  color: white;
  font-size: large;

}


/* home page  (/ route) */
.home{
  margin-top: 10px;
  
}

/* actions button. edit and delete */
.actions-button{
  background-color: transparent;
  border: 1px solid white;
  margin-right: 5px;
  color: white;
}
.actions-button:hover{
  background-color: white;
  color:grey;
}


/* edit and add contact page */
.edits, .add-contact{
  color:grey;
  margin: auto;
  margin-top: 25px;
  background-color: rgb(212, 209, 209);
  max-width:500px;
  padding: 10px;
  border-radius:10px;
}
.edits .btn, .add-contact .btn{
  margin: 10px 10px 10px 0px;
}